/* Styles */
* {
	font-family: Verdana, Geneva, sans-serif;
}

/*navigation*/
.nav-container {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
	right: 0;
	left: 0;
}

/*Hiragana and Hatakana Navigation*/
a {
	text-align: center;
	text-decoration: none;
	color: #f2f2f2;
}
ul {
  list-style-type: none;
  margin-top: 0;
  vertical-align: middle;
}

li a {	
    float: left;
    display: block;
    padding: 17px;
}
/* Change background on mouse-over */
li a:hover {
    background: #ddd;
    color: black;
}

/*Grammar&5W1H Navigation*/
.nav-dropdown {
  display: block;
}
.nav-grammar, .nav-5w1h {
    padding: 16px 17px 18px 17px;
	margin-top: 0px;
}
.nav-grammar a:hover, .nav-5w1h a:hover {
	background: #ddd;
    color: black;
}
.dropdown-content-grammar, .dropdown-content-5w1h {
	float: none;
	display: none;
	margin-top: 18px;
}
.dropdown-content-grammar a, .dropdown-content-5w1h a {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
	display: block;
}

/*Introduction*/
.introduction-section {
	margin: 60px 150px 0px 150px;
}
.introduction-section p  {
	text-align: left;
}

/*Hiragana table*/
.table{
	display: table;
	margin: auto;
}
/*.table-body {
	display: table-row-group;
}
*/
.table-row {
	display: table-row;
}
.table-cell{
	border: 1px solid #999999;
	display: table-cell;
}
.table-row-header {
	padding: 5px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
.table-column-header {
	padding: 0px 10px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
.table-cell button {
	padding: 13px 16px 13px 16px;
	border: 0px;
	background-color: white;
	margin: auto;
	width: 100%;
	display: block;
	font-size: 18px;
	font-weight: 800;
}
.table-cell button:hover {
	background-color: #333;
	color: white;
}
.cell-youon {
	padding: 13px 16px;
	font-size:  15px;
}
#dakuon-table, #handakuon-table {
	display: table-row;
}

/* Word Selection */
.category-container {
	margin-top: 17px;
	padding: 3px;
	background-color: red;
	display: block;
	overflow: hidden;
}
.category-container a {
	padding: 0px;
	color: #333;
}

/*Question Section*/
.question-section-container {
	background-color: red; /*test*/
	display: flex;
}

.back-container {
	background-color: yellow; /*test*/
	padding: 50 px;
	flex: 1;
}
.back-button {
	float: right;
}

.next-container {
	background-color: blue; /*test*/
	padding: 50 px;
	flex: 1;
}

.question-container {
	background-color: green; /*test*/
	padding: 50 px; 
	flex: 1;
}
.english, .romaji {
	text-align: center;
}

/*Answer Section*/
.answer-section-container {
	background-color: pink; /*test*/
	padding: 25px 100px;
}

div:empty:before {
  content:attr(data-placeholder);
  color:gray
}

.answer  {
	background-color: orange; /*test*/
	border:1px solid black;
	padding: 20px;
	margin: 0px;
	text-align: center;
}
.default-message {
	color: #f2f2f2;
}
.hide-message {
	display: none;
}
.reset-button {
	border: 0px;
	padding: 5px 7px;
	
}

/*Footer*/
footer {
	margin: auto;
	text-align: center;
	background-color: pink; /*test*/
}
